
header{
    background-color: #1E172F;
    width: 100%px;
    height:100px;
    display: flex;
    justify-content: space-evenly;
}
header div a{
    text-decoration: none;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.headernav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.otherspages{
    color:#888591;
}
.likes{
    height: 12px;
    margin-top: 20px;
}
.boxlikes{
    display: flex;
    flex-direction: row;
}
.e5{
    display: flex;
    flex-direction: column;
}
#botonheader{
    color:white;
    width: 160px;
    height: 60px;
    background: linear-gradient(45deg,#883ED5, #077DD5);
    border-radius: 10px;
    font-size: 18px;
}
#caja-principal{
    display: flex;
    flex-direction: column;
}
#rightbox{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/Images/hojas.jpg);
}
#box1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#asidebox{
    height: 500px;
    background-color: #2E2550;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: white;
}
#celimage{
    height: 400px;
    width: 200px;
    margin-right: 300px;
}
#titleone{
    font-size: 60px;
}
#two-butons-box{
    border-color: #544E6E;
    border-style: solid;
    padding: 5px;
    margin-right: 25px;
}
#downloaditnow{
    background-color: white;
    color: #EE4D9F;
    border-radius: 5px;
    height: 30px;
}
#features{
    background-color:#2E2550;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    height: 30px;
    color:white
}
#textaside{
    margin-left:90px;
}
#box2{
    display: flex;
    height: 100px;
    background-color: #F1F2F7;
}
#functionnalites{
    color:#EE4D9F;
    width: 1200px;
    text-align: center;
    font-size: 50px;
}
#box3{
    display: flex;
    justify-content: space-evenly;
    background-color: #F1F2F7;
}
#pc{
    height: 300px;
    margin-top: 55px;
}
#sectionalpha{
    width: 30%;
}
#alpha{
    color:#EE4D9F;
    font-size: 40px;
}
#palpha{
    margin-bottom: 25px;
}
#marketingpage{
    color: #EE4D9F;
    font-size: 20px;
}
#likesbox{
    display: flex;
    flex-direction: column;
}
#box4{
    background-color:#2E2550;
    display: flex;
    justify-content: center;
}
#title4{
    display: flex;
    flex-direction: column;
    color: white;
}
#h6{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
#loremcenter{
    width: 1000px;
    color: #A9A7AF;
}
#box5{
    background-color: #2E2550;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#moreboxes{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 320px;
}
#Lite{
    color: #EE4D9F;
    text-align: center;
}
#money{
    display: flex;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
}
#Numbers{
    font-size: 30px;
}
#free{
    font-size: 10px;
}
#iconsandtext{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
#cajadecajas{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
}
#Standard{
    text-align: center;
}
#loremlittle{
    display: flex;
    justify-content: center;
    width: 300px;
    text-align: center;
}
#butonend{
    background-color:#F5F5F5;
    display: flex;
    justify-content: center;
    padding: 10px;
}
#onebuton{
    height: 40px;
    width:  150px;
    background: linear-gradient(45deg,#EB67AB, #F41586);
    color: white;
    border: none;
}
#onebuton2{
    height: 40px;
    width:  150px;
    background-color: #2e2550;
    color: white;
    border: none;
}
#piedepagina{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}
#imagesfooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}
#correofooter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#miv{
    color: #F41586;
}
.redessociales{
    height: 16px;
}
#iconprincipal{
    height: 64px;
    width: 64px;
    margin-left: 130px;
}

/* A partir de aqui las media queries*/ 

@media screen and (max-width:770px){
    #celimage{
        height: 400px;
        width: 200px;
        margin-right: 100px;
    }
    header{
        width: 860px;
    }
    .otherspages{
        font-size: 12px;
    }
    #botonheader{
        width: 120px;
        height: 40;
    }
    #box1{
        width: 860px;
    }
    #box2{
        width: 860px;
    }
    #box3{
        width: 860px;
    }
    #box4{
        width: 860px;
    }
    #loremcenter{
        width: 800px;
    }
    #box5{
        width: 860px;
    }
    #moreboxes{
        width: 250px;
    }
    #iconprincipal{
        margin-left: 90px;
    }
}

@media screen and (max-width:1000px){
    #celimage{
        height: 400px;
        width: 200px;
        margin-right: 100px;
    }
    header{
        width: 960px;
    }
    .otherspages{
        font-size: 12px;
    }
    #botonheader{
        width: 120px;
        height: 40;
    }
    #box1{
        width: 960px;
    }
    #box2{
        width: 960px;
    }
    #box3{
        width: 960px;
    }
    #box4{
        width: 960px;
    }
    #loremcenter{
        width: 900px;
    }
    #box5{
        width: 960px;
    }
    #moreboxes{
        width: 250px;
    }
    #iconprincipal{
        margin-left: 90px;
    }
    #AA{
        width:200px;
        margin-right: 45px ;
    }
}
@media screen and (max-width:600px){
    #celimage{
        height: 350px;
        width: 180px;
        margin-right: 100px;
    }
    header{
        width: 600px;
    }
    .otherspages{
        font-size: 10px;
    }
    #botonheader{
        width: 120px;
        height: 40;
    }
    #box1{
        width: 600px;
    }
    #box2{
        width: 600px;
    }
    #box3{
        width: 600px;
    }
    #box4{
        width: 600px;
    }
    #loremcenter{
        width: 550px;
    }
    #box5{
        width: 600px;
    }
    #moreboxes{
        width: 320px;
        margin-bottom: 10px;
        

    }
    #iconprincipal{
        margin-left: 120px;
    }
    #AA{
        width:200px;
        text-align: center;
        margin-left: 60px;
    }
    #logobleux{
        width: 120px;
        height: 60px;
        margin-top: 20px;
    }
    .headernav{
        width: 460px;
    }
    #pc{
        width: 350px;
        height: 300px;
        margin-top: 100px;
    }
    #cajadecajas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #piedepagina{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #box3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #palpha{
        width: 300px ;
        text-align: center;
    }
    #sectionalpha{
        width: 300px;
    }
    #box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #asidebox{
        width: 600px;
    }
    #rightbox{
        width: 600px;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
}